
.homeContent, .homeContent__menuout {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContent {
  width: calc(100% - 200px);
  height: auto;
  padding-top: 55px;
}

.homeContent__menuout {
  width: 100%;
  height: auto;
  padding-top: 55px;
}

@media screen and (max-width : 1400px)
{
  .homeContent, .homeContent__menuout {
    display: flex;
    flex-direction: column;
  }

}



