.login_butt {
  width: 350px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #8FD4F9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  
}

.login_form {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.whitemodal {
  width: 1000px;
  height: 500px;
  background-color: white;
  box-shadow: 3px 3px 3px rgb(112, 112, 112);
  display: flex;
  justify-content: center;
  
}

.loginModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(119, 208, 255, 0.78);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_sub {
  width: 350px;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 9px;
  color: rgb(160, 160, 160);
  font-weight: 300;

  a{
      text-decoration: none;
      color: rgb(160,160,160);
  }
}

@mixin sub_menu() {
  display: flex;
  position: absolute;
  cursor: pointer;
}

.find_info {
  @include sub_menu();
  left: 10px;
}

.join {
  @include sub_menu();
  right: 10px;
}

.normal_login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}



.input_box {
  width: 350px;
  height: 50px;
  border: 1px solid #8FD4F9;
  margin-top: 25px;
  border-radius: 10px;
  input {
      width: 95%;
      height: 95%;
      overflow: hidden;
      border: none;
      border-radius: 10px; 
      outline: none;
      font-size: 15px;
      text-indent: 10px;
  }
  @include placeholder {
      font-size: 12px;
      color: rgb(220, 220, 220);
  }
}

.social_login_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(112, 112, 112);
}

.social_login {
  width: 350px;
  height: 50px;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
  cursor: pointer;
}

@mixin social_login_box($color) {
  width: 50%;
  height: 100%;
  background-color: $color;
  position: relative;
  display: flex;
  align-items: center;
}

@mixin login_with_box {
  font-size: 11px;
  position: absolute;
  font-weight: 400;
}

.facebook {
  @include social_login_box(rgb(68,105,176));
  color: white;
  &:before {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      left: 5px;
      background-image: url('../../../assets/f_logo.png');
      background-size: 100% auto;
      opacity: 0.5;
  }
  .login_with {
      @include login_with_box();
      right: 10px;
      height: 12px;
  }
}

.kakao {
  @include social_login_box(rgb(249,223,50));
  color: #3B1E1E;
  &:before {
      content: "";
      width: 70px;
      height: 30px;
      position: absolute;
      right: 5px;
      background-image: url('../../../assets/k_logo.png');
      opacity: 0.5;
      background-size: auto 100%;
      background-repeat: no-repeat;
  }

  .login_with {
      @include login_with_box();
      left: 10px;
      height: 12px;
  }
}
