$inputBorderColor : #8FD4F9;
$inputBorderRadius : 15px;

.joinForm {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.joinForm .joinForm_text {
    font-weight: 700;
    color: #707070;
    font-size: 30px;
}


.inputLongbox {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
}

.funcDesc {
    color: #C4C4C4;
    margin-left: 15px;
    font-size: 12px; 
}

.inputCover {
    margin-top: 3px;
    width: 100%;
    height: 45%;
    border: 1px solid $inputBorderColor;
    border-radius: $inputBorderRadius;
    input {
        width: 90%;
        height: 90%;
        border-radius: $inputBorderRadius;
        border: none;
        outline: none;
        text-indent: 10px;
        font-size: 13px;
    }
}

.half {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: space-between;
    
}

.halfCover {
    width: 45%;
    height: 100%;
    border: 1px solid $inputBorderColor;
    border-radius: $inputBorderRadius;

    input {
        width: 90%;
        height: 90%;
        border-radius: $inputBorderRadius;
        outline: none;
        border: none;
        font-size: 13px;
        text-indent: 10px;
    }
}

.joinButt {
  width: 380px;
  height: 50px;
  background-color: $inputBorderColor;
  border-radius: $inputBorderRadius;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
}

.joinbuttSub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 380px;
  height: 30px;
  font-size: 12px;
  color: #C3C3C3;
  cursor: pointer;

  div {
      display: inline-block;
  }
}
