
.homeContent, .homeContent__menuout {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContent {
  width: calc(100% - 200px);
}

.homeContent__menuout {
  width: 100%;
}

@mixin serviceContentSize($width) {
  width : $width;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
}

.recommend__content {
  @include serviceContentSize(600px);  
}

.popular__content {
  @include serviceContentSize(530px)
}